aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
async-timeout==5.0.1
attrs==24.3.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
clickclick==20.10.2
cloud-sql-python-connector==1.15.0
connexion==2.14.2
cryptography==44.0.0
Deprecated==1.2.15
dnspython==2.7.0
Flask==2.1.1
Flask-Testing==0.8.1
frozenlist==1.5.0
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-pubsub==2.27.1
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.14.0
grpcio==1.68.1
grpcio-status==1.68.1
idna==3.10
importlib_metadata==8.5.0
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
multidict==6.1.0
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
packaging==24.2
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
rsa==4.9
six==1.17.0
SQLAlchemy==2.0.36
swagger-ui-bundle==0.0.9
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==2.2.3
wrapt==1.17.0
yarl==1.18.3
zipp==3.21.0
